@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --primary-color:rgb(183, 0, 255,0.9);
   --secondary-color:#601cfc;
    --overlay-color:rgba(22,33,62,0.9);    
    --max-width:960px
}

/*reset*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    scroll-behavior: smooth;
}
    
/*main style*/
body{
    font:normal 1rem/1.5 'Arial',sans-serif;
    
padding-left: 10px;
padding-right: 10px;
}


a{
text-decoration: none;
 color: #fff;
}

/*uses classes*/
.container{
    max-width: 100%;
    margin-top:  7px;
    margin-left: 5px;
    margin-bottom: 30px;
    
}


/* button review*/
.btn {
    background:var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 55px;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 10px;
    width: 15%;

    height: 30%;
    align-items: center;
    transition: background 0.4s ease-in-out;
    
}
.btn:hover{
    background: var(--primary-color);
}



/*navbar*/
#navbar {
    position: fixed;
    width: 99%;
    z-index: 999;
    background: var(--primary-color);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
  padding: 5px;
    box-shadow: 2px 2px 4px var(--primary-color);
    border-radius: 20px;


}

#navbar .logo img{
    width: 7%;
    height: 7%;
margin-left: 20px;
margin-right: 10px;
margin-top: 10px;




}

#navbar .logo{
    text-shadow: 1px 1px 2px var(--primary-color);
    font-size: 30px;
    font-weight: 700%;

 
    

}

#navbar .menue-wrap .toggle{
    display: none;
    
}

#navbar .menue-wrap .menu div  div  ul{
display: flex;
list-style: none;

}

#navbar .menue-wrap .menu  div  div  ul  li  a{
padding: 1rem;
margin: 0.5rem;
border-radius: 5px;
transition: background 0.4s ease-in-out;
    

}
#navbar .menue-wrap .menu  div  div  ul  li:first-child a{
    background:var(--secondary-color);
 
}

#navbar .menue-wrap .menu  div  div  ul  li  a:hover{
    background:var(--secondary-color);

}


/*section: showcase*/

.showcase{
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 2px;
}
#showcase .showcase-content{
    border-radius: 20px;
   border-style: solid;
   padding-left: 30px;
   
   border-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: first baseline ;
    align-items: flex-start;
    
    padding-top: 5%;
    padding-bottom: 11%;
    width: 150%;
    height: 100%;

}

#showcase .showcase-content:before{/*background*/
    content: "";
    background: url(faculty.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 35%;
    opacity: 20%;
}

#showcase .showcase-content h1{
    font-size: 5rem;
    color:var(--secondary-color);
}
#showcase .showcase-content h3{
    font-size: 2rem;
    font-weight: 400;
    
    
}

/* section 3*/
/* slider*/
.overview{
    
  
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    padding-left: 10px;
   padding-right: 10px;
  
  
}


.title{/*edit for all title*/
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    color:#601cfc;
    padding-top: 10px;
}
.overview-content{
    display: flex;
    flex-direction: row;
   

      
    
}

.words ul li{
    list-style-type: none;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 2rem;
    font-weight: 300;
}

.li1{/*photo1*/
    width: 700px;
    height: 500px;
}
.li2{/*photo2*/
    width: 700px;
    height: 500px;
}
.li3{/*photo3*/
    width: 700px;
    height: 500px;
}
.slider{
    border-radius: 20px;
    width: 700px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider ul {
    padding: 0;
    width: 2100px;
    list-style: none;
    position: relative;
    animation:sliding 10s ease-in-out infinite;
}
.slider ul li{/*photos move*/
   
    float: left;
}
@keyframes sliding{
    0%,30%{left: 0;}
    35%,65%{left: -700px;}
    70%,100%{left: -1400px;}
}
.slider ul:hover{/* when click pause*/
    animation-play-state: paused;
}



.q h1{

    color:#601cfc;
 }
 /*section 3*/
 .faq{

     border-radius: 20px;
     border-style:solid;
     border-color:darkgray;
padding-top: 40px;
     padding-bottom: 50px;
     padding-right: 10px;
     padding-left: 30px;
 }


/*section 4 tracks*/
.Tracks{
    border-radius: 20px;
    border-style:solid;
    border-color: darkgray;
    padding-left: 30px;
    padding-right: 10px;
}
.more-details{/*read more*/
    color: #601cfc;
}

.content{

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{

    background-color: white;
    width: 21.25em;
    
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
 transform: scale(1.1);
}
.card .icon{
    color: #601cfc;
    font-size: 8em;
    
    text-align: center;
    }
    
.info{
    text-align: center;
}

.info h3{
color: #601cfc;
font-size: 1.2em;
font-weight: 700;
margin:10px;
}


#Tracks .overview{
margin-top: 5em;
background-color:white;
}

.overview.content{

    margin-top: 30px;
   
}

.overview-card{
 background-color: white;
 border: 2px solid  rgb(183, 0, 255);
 min-height: 14em;
 width: 28em;
 overflow: hidden;
 border-radius: 10px;
 margin: 20px;
 transition: 0.7s ease;
 margin-right: 7em;
 margin-left: 7em;

}


.overview-card:hover{
 transform: scale(1,1);
}
.overview-card:hover .overview-image{
    opacity: 0.9;
}
.overview-image img{
    width: 100%;
  

}
.overview-info{
    padding: 0.3em;
}

.overview-category{
    font-size: 1em;
    color: black;
}
.q h1{

   color:#601cfc;
}


/*section 5*/
.department1{
    border-radius: 20px;
    border-style: solid;
    border-color:darkgray;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 10px;
    
    
}


#department1 .depit{/*it*/
    border-radius: 20px;
    border-style: solid;
    border-color:darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

} 
.title1{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}
#department1 .depis{/*is*/
    border-radius: 20px;
    border-style: solid;
    border-color:darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.title2{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}
#department1 .depcs{/*cs*/
    border-radius: 20px;
    border-style: solid;
    border-color:darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.title3{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}

#department1 .depai{/*ai*/
    border-radius: 20px;
    border-style: solid;
    border-color:darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.title4{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}
#department1 .depbio{/*bio*/
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.title5{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}
#department1 .depsoftwer{/*software*/
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.title6{
    color: #601cfc;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 7px;
}

.vid{/*vidieos*/
    border-radius: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/*section 6*/
.About {
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    padding-bottom: 10px;
    
    
    padding-left: 30px;
    padding-right: 10px;
   
    margin-top: 10px;
    background-image:url(photo_2022-12-03_17-45-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    

.About .title{

    color: aliceblue;
}
.a h2{
    color:aliceblue;
}


/*section 7*/
.servic{
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;
    
}

/*section 8*/
.contactcards{
    border-radius: 20px;
    border-style: solid;
    border-color: darkgray;

}


/*footer*/
.footer{
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{

    font-size: 1.3em;
    font-weight: 600;

}

.footer .social-icons a{
    font-size: 1.3em;
    color: white;
    padding: 0 12px 0 0;
}
.footer-title span{
    font-size: 15px;
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
}
.title{
    font-size: 1.8em;
}
section{
    padding: 80px 20px;
}
.main-content h2{
    font-size: 1em;
}

.main-content h3{
    font-size: 1.6em;
}

/*location*/
.location{
  
    border-radius: 20px;
    border-color:darkgray;
    border-style: solid;
    display: flex;
    flex-direction: column;
   
}

.loc{
    margin-right: 5em;
    margin-left: 18em; 
    border-radius: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.overview .words  .a{
    color: black;
}